# Allows temporary user settings to be placed here. From
# Allows temporary user settings to be placed here. From
# https://bazel.build/configure/best-practices#bazelrc-file
try-import %workspace%/user.bazelrc

build --cxxopt "-std=c++17"
build --host_cxxopt "-std=c++17"
build --crosstool_top=@llvm_toolchain//:toolchain
build \
  --incompatible_enable_cc_toolchain_resolution

# See https://github.com/filmil/cocoapuffs/issues/6
# use as: `bazelisk build --config=nvc-config <targets>`
build:nvc-config \
 --crosstool_top=@bazel_tools//tools/cpp:toolchain \
 --incompatible_enable_cc_toolchain_resolution=false

common \
  --registry=https://raw.githubusercontent.com/filmil/bazel-registry/main \
  --registry=https://bcr.bazel.build

build --experimental_ui_max_stdouterr_bytes=10485760
build --cxxopt=-D_GNU_SOURCE
build --copt=-D_GNU_SOURCE
build --copt=-D_BSD_SOURCE --copt=-D_DEFAULT_SOURCE --cxxopt=-D_BSD_SOURCE --cxxopt=-D_DEFAULT_SOURCE
build --host_copt=-D_GNU_SOURCE --host_copt=-D_DEFAULT_SOURCE --host_copt=-D_BSD_SOURCE --host_cxxopt=-D_GNU_SOURCE --host_cxxopt=-D_DEFAULT_SOURCE --host_cxxopt=-D_BSD_SOURCE

build --action_env=BAZEL_LINKLIBS="-l:libstdc++.a" --action_env=BAZEL_CXXOPTS="-fPIC" --action_env=BAZEL_COPTS="-fPIC"

# Attempt to configure CGO and Gazelle properly with portable_cc_toolchain
build --define=gotags="netgo"
build --@rules_go//go/config:pure=true
